<div class="container">
    <div class="row justify-content-center align-items-center mt-4 pt-2">
        <div class="col-5">
            <h1>Oii, tudo bom?</h1>
            <p class="txt-1">sou a Evelyn</p>
            <p class="txt-2">dev front end e designer gráfico</p>
            <p>23 anos, natural de São Paulo... </p>
            <p>
                Quando não estou fazendo algum curso, estou praticando alguma coisa nova que aprendi. Amo criar e desenvolver ideias. 
                Trabalhei em projeto de Machine Learning na Carambola Tech em parceria com a PwC. 
            </p>
            <p>O que eu faço: ReactJs, AngularTS, front-end, design gráfico (e um pouco de back-end com Java também).
            </p>
        </div>
        <div class="col-5">
            <img src="https://i.imgur.com/j3Mxc0I.jpg" alt="Imagem da autora do site" style="width:60%">
        </div>
    </div>
    


<!--FOOTER-->
<div class="container-fluid">
    <div class="row text-center footer">
        <div class="col">
            <p>© 2022 | Desenvolvimento por Evelyn Carolina</p>
        </div>
    </div>
</div>


