<div class="container">
    <div class="row justify-content-center align-items-center mt-4 pt-2">
        <div class="col-5">
            <h1>Oii, tudo bom?</h1>
            <p>sou a Evelyn</p>
            <p>dev front end e designer gráfico</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem distinctio modi amet quos, fuga sapiente non veritatis cumque qui neque odio exercitationem quam nulla, maxime asperiores? Fuga dolor in voluptatum?</p>
        </div>
        <div class="col-5">
            <img src="https://i.imgur.com/qEiWX0u.png" alt="" style="width:80%">
        </div>
    </div>
    


    <!--FOOTER-->
<div class="row text-center align-items-end">
    <div class="col-12">
        <p>© 2021 | Desenvolvimento por Evelyn Carolina</p>
    </div>
</div>
</div>


