<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <div class="container text-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container row" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item col-md-4">
            <a class="nav-link" aria-current="page" routerLink="home">HOME</a>
          </li>
          <li class="nav-item col-md-4">
            <a class="nav-link" routerLink="/sobre">SOBRE</a>
          </li>
          <li class="nav-item col-md-4">
            <a class="nav-link" href="#">CONTATO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
