<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h3 class="text-center">Projetos</h3>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-md-9 text-center">
            <p>Esse é meu espaço, onde tranformos minhas ideias em projetos, demonstro minha criatividade em cores, formas e códigos, AGUARDEM logo menos esse portfólio irá crescer!
                Os projetos estão variados, tem sites, jogos, design de identidade visuais, social media entre outros.
            </p>
        </div>
    </div>
<!--
   <div class="row justify-content-center"> 
    <div class="column">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>  
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>
  </div> 

-->

<!--GALERIA 1-->
    <div class="row justify-content-center">
    <div class="col-md-3">
        <img src="https://i.imgur.com/WxvAqmV.png" style="width:100%">
        <div class="pt-2">
            <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Action For Life</h4></a> 
            <p>E-commerce com objetivo de ser
                mais que uma plataforma de vendas.
            </p>      
        </div>
    </div>
    <div class="col-md-3">
        <img src="https://i.imgur.com/bPtleZz.png" style="width:100%">
        <div class="pt-2">
            <a href="https://evyeve.itch.io/demand" target="_blank" class="color-projeto"><h4>Demand</h4></a>
            <p>Demand (A busca) é um jogo 2D de ação e aventura, criado no Construct 2. Divirta-se!</p>
    </div>
    </div>
    <div class="col-md-3">
        <img src="https://i.imgur.com/DmaumTc.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Alura Midi</h4></a>
                <p>Projeto de bateria virtual e interativa, desenvolvido em Javascript.</p>
        </div>
    </div>
</div>

<!--GALERIA 2-->
    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-md-3">
            <img src="https://i.imgur.com/enuojL0.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Fly Educação</h4></a>
                <p>É uma ONG que oferece educação socioemocial para jovens, trabalhei como voluntária.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/avx0xBD.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Abc Psicologia</h4></a>
                <p>Clínica de psicologia cognitiva comportamental, projeto de social media.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/14d6prq.png" style="width:100%">
                <div class="pt-2">
                    <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Docelinos</h4></a>
                    <p>Uma empresa especialista em geleias 100% naturais, projeto de identidade visual.</p>
            </div>
        </div>
    
    </div>

<!--GALERIA 3-->
    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-md-3">
            <img src="https://i.imgur.com/EZqpwzN.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Projetos Artísticos</h4></a>
                <p>Projetos que faço para explorar e compartilhar minha criatividade.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/xw0ICOE.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Burguer House</h4></a>
                <p>Humburgueria delivery com gostinho de feito em casa, projeto de identidade visual.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/HaI1dz6.png" style="width:100%">
                <div class="pt-2">
                    <a href="https://action-for-life.netlify.app/" target="_blank" class="color-projeto"><h4>Politize!</h4></a>
                    <p>Projeto que fiz para estudo com design gráfico</p>
            </div>
        </div>

    </div>

<!--FOOTER-->
<div class="row text-center">
    <div class="col-12 pt-4">
        <p>© 2021 | Desenvolvimento por Evelyn Carolina</p>
    </div>
</div>

</div>



