.bg-portfolio {
  background-color: aqua !important ;
}

.bg-linguagens {
  background-color: (138, 43, 226)rgb;
  border-radius: 2rem;
  padding: 0px 4px 0px 4px;
  color: aliceblue;
  font-size: 13px;
}

.color-projeto {
  color: blueviolet;
  font-weight: bold;
}

a {
  text-decoration: none;
}