<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h3>Projetos</h3>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            commodo condimentum urna a egestas. Aliquam erat volutpat. Quisque 
            finibus nibh sit amet enim aliquet faucibus. Nunc egestas ac ante.</p>
        </div>
    </div>
<!--
   <div class="row justify-content-center"> 
    <div class="column">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>  
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>
  </div> 

-->

<!--GALERIA 1-->
    <div class="row justify-content-center">
    <div class="col-md-3">
        <img src="https://i.imgur.com/WxvAqmV.png" style="width:100%">
        <div class="pt-2">
            <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a> 
            <p>E-commerce com objetivo de ser
                mais que uma plataforma de vendas.
            </p>      
        </div>
    </div>
    <div class="col-md-3">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <div class="pt-2">
            <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    </div>
    <div class="col-md-3">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>

<!--GALERIA 2-->
    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
                <div class="pt-2">
                    <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    
    </div>

<!--GALERIA 3-->
    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
            <div class="pt-2">
                <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
                <div class="pt-2">
                    <a href="https://action-for-life.netlify.app/" class="color-projeto"><h4>Action For Life</h4></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

    </div>

<!--FOOTER-->
<div class="row text-center">
    <div class="col-12 pt-4">
        <p>© 2021 | Desenvolvimento por Evelyn Carolina</p>
    </div>
</div>

</div>



