<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h3>Portfolio</h3>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            commodo condimentum urna a egestas. Aliquam erat volutpat. Quisque 
            finibus nibh sit amet enim aliquet faucibus. Nunc egestas ac ante.</p>
        </div>
    </div>
<!--
    <div class="row justify-content-center">
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        </div>
    </div>

-->

<div class="row justify-content-center"> 
    <div class="column">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
      <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/Yijm6cr.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>  
    <div class="column">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
        <img src="https://i.imgur.com/dkkQz8k.jpg" style="width:100%">
        <img src="https://i.imgur.com/RWsTDdI.png" style="width:100%">
    </div>
  </div>
</div>