.card-bg {
  background-color: aqua;
}

.bg-linguagens {
  background-color: rgb(138, 43, 226);
  border-radius: 2rem;
  padding: 0px 4px 0px 4px;
  color: aliceblue;
  font-size: 13px;
}

.color-projeto {
  color: blueviolet;
  font-weight: bold;
}