<div class="container ">
    <div class="row justify-content-center align-middle">
        <div class="col-6 p-0 ">
           <p class="txt-inicio p-0">Evelyn Carolina</p>
           
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">PORTFÓLIO</div>
        <div class="col-1">GITHUB</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Design</p>
            <p>Desenvolvedora</p>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
