.bg-img {
    background-image: url(https://i.imgur.com/XN1B1V0.png);
}

.txt-inicio {
    font-size: 60px;
    text-align: center;
}

.img-icone {
    width: 50px;
    height: 50px;
    align-items: center;
}

.p-item {
    padding-top: 10rem;
}

.p-txt {
    padding-top: 7rem; 
    margin: 0% 0% 0% 0%;
}

.txt-carolina {
    padding: 0% 0% 0% 0%;
}

.mb-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
.txt-decor {
    text-decoration: none;
    color: black;
}

.txt-decor a:hover {
    color: rgba(0, 255, 30, 0.89)
}

